*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  padding: 30px 20%;
}

.app h1{
  font-size: 48px;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle{
  background-color: #F8F8F8;
  font-size: 24px;
  padding: 20px;
  border-radius: 5px;
}

.btn_blue{
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #027BFF;
  border-radius: 5px;
  border: none;
  width: fit-content;
  cursor: pointer;
  transition: all .4s;
}

.btn_blue:hover{
  opacity: 0.5;
}

.btn_blue:active{
  color:#027BFF;
  background-color: #fff;
}

.btn_red{
  background-color: #DC4535;
  color: #FFF;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  width: fit-content;
  cursor: pointer;
  transition: all .4s;
}
  
.btn_red:hover{
  opacity: 0.5;
}
  
.btn_red:active{
  color:#DC4535;
  background-color: #fff;
}

.form{
  border: 1px solid gray;
  border-radius: 5px;
}

.form__field{
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form__input{
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: .5px solid gray;
  color: #6C757D;
}

.form__input:focus{
  color: #000;
}

.form__input + p{
  color: #6C757D;
}

.form button{
  margin-top: 15px;
}

.tasks{
  border: .5px solid gray;
  border-radius: 5px;
  margin-top: 20px;
}

.tasks__todolist{
  padding: 20px;
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.scroll_moz{
  scrollbar-width: thin;
  scrollbar-color: rgb(2, 123, 255) rgb(255, 255, 255);
}

/* полоса прокрутки (скроллбар) */
.tasks__todolist::-webkit-scrollbar {
  width: 14px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #fff;
}

/* ползунок скроллбара */
.tasks__todolist::-webkit-scrollbar-thumb {
  background-color: #027BFF;
  border-radius: 10px;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

.tasks__todolist::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

/* Стрелки */

.tasks__todolist::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
  linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
  linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

.tasks__todolist::-webkit-scrollbar-button:vertical:end:increment {
  background:
      linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
  border-radius: 5px;
}

.tasks__header{
  display: flex;
}

.tasks__header h5{
  flex: 1;
}

.tasks__todolist:not(:hover){
  overflow-y: hidden;
  margin-right: 14px;
}

.item{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.item *{
  flex: 1;
}

.item__link{
  width: 40%;
  overflow-wrap: anywhere;
  text-decoration: none;
  color: #000;
}

.item__buttons{
  display: flex;
  column-gap: 15px;
}

.item__buttons button{
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
}

.todolist-buttons{
  padding: 20px 0;
  display: flex;
  column-gap: 30px;
}

.pagetask__info{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.pagetask__title{
  text-align: center;
  padding-bottom: 50px;
  font-size: 32px;
  text-transform:capitalize;
}

.pagetask__text{
  font-size: 18px;
}

.pagetask__text_id{
  text-decoration: underline;
}
